@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/blue";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.app_v2 {
  background-color: var(--bg-color);
  min-height: 100vh;
  font: var(--font-m-v2);
  color: var(--text-v2);
}

.content-page {
  display: grid;
  grid-template-columns: 300px 1fr;
}

*::-webkit-scrollbar {
  margin-right: 20px;
  padding-right: 20px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  width: 40px;
  margin-right: 20px;
  padding-right: 20px;
}

*::-webkit-scrollbar-thumb {
  margin-right: 20px;
  padding-right: 20px;
  background-color: var(--primary-color);
  border-radius: 20px;
}
