.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-secondary-bg-color);
  position: relative;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switcher {
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.lang {
  margin: 0 0 10px 5px;
  color: var(--inverted-primary-color);
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 12px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  z-index: 3;
}

.items {
  margin: 10px 0 0 26px;
}

.SidebarV2 {
  background-color: var(--light-bg-v2);
  width: 220px;
  height: 100%;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
