.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-secondary-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switcher {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.lang {
  margin: 0 0 10px 5px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 12px;
  border-radius: 0 8px 8px 0;
}

.items {
  margin: 10px 0 0 26px;
  display: flex;
  flex-direction: column;

  .item {
    margin-top: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    text-decoration: none;
  }

  .icon {
    fill: var(--inverted-primary-color);
  }
}
