.item {
  margin-top: 5px;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  fill: var(--inverted-primary-color);
  min-width: 20px;
}
