.Code {
  margin: 5px 0;
  padding: 20px;
  border: 1px solid var(--primary-color);
  position: relative;
  background-color: var(--code-bg);
  border-radius: 12px;
  overflow: auto;
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.copyIcon path {
  stroke: var(--primary-color);
}
