.app_blue_theme {
  --bg-color: #e5f2ff;
  --inverted-bg-color: #0fc9ff;
  --inverted-secondary-bg-color: #93e3ff;
  --primary-color: #214e57;
  --secondary-color: #6b6565;
  --inverted-primary-color: #2e5f7a;
  --inverted-secondary-color: #478da1;
  --skeleton-color: #16b3e0;
  --skeleton-shadow: #9ae6fc;
  --code-bg: #95f5f5;
  --card-bg: #ade5fc;

  // v2
  --dark-bg-v2: #FFF3D6;
  --bg-v2: #F0C048;
  --light-bg-v2: #F2D791;
  --text-v2: #1B1311;
  --hint-v2: #B8B2A2;
  --cancel-v2: #FF5E5E;
  --save-v2: #52FA81;
  --icon-v2: #4875F0;
  --accent-v2: #1D59FF;
}
