.app_blue_theme {
  --bg-color: #e5f2ff;
  --inverted-bg-color: #0fc9ff;
  --inverted-secondary-bg-color: #93e3ff;
  --primary-color: #214e57;
  --secondary-color: #eeecec;
  --inverted-primary-color: #2e5f7a;
  --inverted-secondary-color: #478da1;
}
