.app_dark_theme {
  --bg-color: #969696;
  --inverted-bg-color: #f5f4f4;
  --inverted-secondary-bg-color: #faf9f9;
  --primary-color: #fff;
  --secondary-color: #eeecec;
  --inverted-primary-color: #525560;
  --inverted-secondary-color: #7c43f3;
  --skeleton-color: #b9b7b7;
  --skeleton-shadow: #c4c0c0;
  --code-bg: #e0dede;
  --card-bg: #383636;

  //redesign V2
  --dark-bg-v2: #090F11;
  --bg-v2: #0C1214;
  --light-bg-v2: #151C1F;
  --text-v2: #DBDBDB;
  --hint-v2: #555555;
  --cancel-v2: #D95757;
  --save-v2: #6CD98B;
  --icon-v2: #74A2B2;
  --accent-v2: #5ED3F3;
}
