.app_dark_theme {
  --bg-color: #969696;
  --inverted-bg-color: #f5f4f4;
  --inverted-secondary-bg-color: #faf9f9;
  --primary-color: #574f4f;
  --secondary-color: #fafafa;
  --inverted-primary-color: #525560;
  --inverted-secondary-color: #7c43f3;
}
