.app.dark {
  --bg-color: #969696;
  --inverted-bg-color: #f5f4f4;
  --inverted-secondary-bg-color: #faf9f9;
  --primary-color: #f3fa1b;
  --secondary-color: #f1e729;
  --inverted-primary-color: #525560;
  --inverted-secondary-color: #7c43f3;
}
