:root {
  --bg-color: #fafafa;
  --inverted-bg-color: #969696;
  --inverted-secondary-bg-color: #afaeae;
  --primary-color: #21242f;
  --secondary-color: #46464b;
  --inverted-primary-color: #f8fff3;
  --inverted-secondary-color: #a7e746;
  --skeleton-color: #bdbdbd;
  --skeleton-shadow: #dad8d8;
  --code-bg: #f1eeee;
  --card-bg: #e3e2e2;

  //redesign V2
  --dark-bg-v2: #FFFFFF;
  --bg-v2: #EFF5F6;
  --light-bg-v2: #E2EEF1;
  --text-v2: #141C1F;
  --hint-v2: #ADBCC0;
  --cancel-v2: #FF7777;
  --save-v2: #62DE85;
  --icon-v2: #5ED3F3;
  --accent-v2: #00C8FF;
}
