:root {
  --bg-color: #fafafa;
  --inverted-bg-color: #969696;
  --inverted-secondary-bg-color: #afaeae;
  --primary-color: #21242f;
  --secondary-color: #46464b;
  --inverted-primary-color: #f8fff3;
  --inverted-secondary-color: #a7e746;
}
