.MainLayout {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "leftContent content rightContent";
  grid-template-columns: 284px 1fr 175px;
}

.leftContent,
.rightContent {
  position: sticky;
  top: 0;
  height: 100vh;
}

.leftContent {
  grid-area: leftContent;
  justify-self: center;
  padding: 32px;
}

.content {
  grid-area: content;
  max-width: 1200px;
  padding: 32px;
}

.rightContent {
  grid-area: rightContent;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .rightBar {
    height: 100%;
    border: 1px solid red;
  }
}
