.Navbar {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 20px;
  width: 100%;
  padding: 0 40px;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
}

.links {
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 100%;
}

.mainLink {
  font-weight: 400;
}

.aboutLink {
  font-weight: 400;
}

.appName {
  width: 245px;
}
