.Navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
}

.links {
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 100%;
  margin-right: 20px;
}

.mainLink {

}

.aboutLink {

}