.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  margin-bottom: 20px;
}

.data {
  margin-top: 30px;
}

.loading,
.error {
  height: 300px;
}

.editing {
  border: 2px solid var(--primary-color);
}
