.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);

  .avatarWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.input {
  margin-top: 30px;
}

.data {
  margin-top: 30px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.editing {
  border: 2px solid var(--primary-color);
}

.input {
  margin-top: 10px;
}